<div class="detail-user row" style="padding-top: 20px">
  <div class="navigation-custom col-md-4">
    <app-navigation></app-navigation>
  </div>
  <div class="information-frame col-md-8">
    <h4 style="border-bottom: 1px dotted black">
      College Information
    </h4>
    <div class="informatino-form">
      <form novalidate>
        <fieldset>
          <div class="form-group">
            <label>Student code:</label>
            <p>code</p>
          </div>

          <div class="form-group">
            <label>Major:</label>
            <p>Major</p>
          </div>
        </fieldset>

        <div class="form-group">
          <label>Class:</label>
          <p>Class</p>
        </div>

        <div class="form-group">
          <label>Diploma:</label>
          <p>Diploma</p>
        </div>

        <div class="form-group">
          <label>Gpa:</label>
          <p>Gpa</p>
        </div>

        <div class="form-group">
            <label>GraduationDate:</label>
            <p>GraduationDate</p>
          </div>
      </form>
    </div>
  </div>
</div>