<div class="detail-user row" style="padding-top: 20px">
    <div class="information-frame col-md-offset-2">
      <h4 style="border-bottom: 1px dotted black">
        thông tin cá nhân
      </h4>
      <div class="informatino-form">
        <form novalidate>
          <fieldset>
            <div class="form-group">
              <label>first name</label>
              <input type="text" class="form-control">
            </div>
  
            <div class="form-group">
              <label>last name</label>
              <input type="text" class="form-control">
            </div>
          </fieldset>
  
          <div class="form-group">
            <label>email</label>
            <input type="email" class="form-control">
          </div>
  
          <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control">
          </div>
  
          <div class="form-group">
            <label>language</label>
            <select class="form-control">
              <option value="">please select a language</option>
            </select>
          </div>
        </form>
        <div style="padding-top:20px">
          <button class="btn btn-primary">Update</button>
        </div>
      </div>
  </div>