<div  class="row justify-content-center" style="padding-top: 20px">
    <div class="col-8">
      <h4 style="border-bottom: 1px dotted black">
        Create New Student
      </h4>
      <div class="informatino-form">
        <form novalidate>
          <fieldset>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control"  [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" autocomplete='model.name'>
            </div>
  
            <div class="form-group">
              <label>Mssv</label>
              <input type="text" class="form-control" [(ngModel)]="model.mssv" [ngModelOptions]="{standalone: true}" autocomplete='model.mssv'>
            </div>
          </fieldset>
  
          <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}" autocomplete='model.email'>
          </div>
  
          <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" [(ngModel)]="model.password" [ngModelOptions]="{standalone: true}" autocomplete='model.password'>
          </div>
        </form>
        <div style="padding-top:20px">
          <button class="btn btn-primary" (click)="CreateStudent()">Update</button>
        </div>
      </div>
  </div>