<div class="row justify-content-center" style="padding-top: 20px">
    <div class="col-8">
      <h4 style="border-bottom: 1px dotted black">
         New Student
      </h4>
      <div class="informatino-form">
        <form novalidate>
          <div class="row">
            <div class="form-group col-md-6">
              <label>User Name</label>
              <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" autocomplete='username'>
            </div>
  
            <div class="form-group col-md-6">
              <label>Full Name</label>
              <input type="text" class="form-control" [(ngModel)]="fullname" [ngModelOptions]="{standalone: true}" autocomplete='fullname'>
            </div>
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" autocomplete='email'>
            </div>
            <div class="form-group col-md-6">
                <label>Birth</label>
                <input type="text" class="form-control" [(ngModel)]="birth" [ngModelOptions]="{standalone: true}" autocomplete='birth'>
              </div>
            <div class="form-group col-md-6">
              <label>Sdt</label>
              <input type="text" class="form-control" [(ngModel)]="sdt" [ngModelOptions]="{standalone: true}" autocomplete='sdt'>
            </div>
  
  
            <div class="form-group col-md-6">
              <label>Lớp</label>
              <input type="text" class="form-control" [(ngModel)]="lop" [ngModelOptions]="{standalone: true}" autocomplete='lop'>
            </div>
  
            <div class="form-group col-md-6">
              <label>Khoa</label>
              <input type="text" class="form-control" [(ngModel)]="khoa" [ngModelOptions]="{standalone: true}" autocomplete='khoa'>
            </div>
  
            <div class="form-group col-md-6">
              <label>Ngành</label>
              <input type="text" class="form-control" [(ngModel)]="nganh" [ngModelOptions]="{standalone: true}" autocomplete='nganh'>
            </div>
  
            <div class="form-group col-md-6">
              <label>GPA</label>
              <input type="text" class="form-control" [(ngModel)]="gpa" [ngModelOptions]="{standalone: true}" autocomplete='gpa'>
            </div>
  
            <div class="form-group col-md-6">
              <label>Năm Tốt Nghiệp</label>
              <input type="text" class="form-control" [(ngModel)]="nam_tot_nghiep" [ngModelOptions]="{standalone: true}" autocomplete='nam_tot_nghiep'>
            </div>
  
            <div class="form-group col-md-6">
              <label>Bộ môn</label>
              <input type="text" class="form-control" [(ngModel)]="bomon" [ngModelOptions]="{standalone: true}" autocomplete='bomon'>
            </div>
          </div>
        </form>
        <div style="padding-top:20px">
          <button class="btn btn-primary" (click)="CreateStudent()">Create</button>
        </div>
      </div>
    </div>