<div class="row justify-content-center" style="padding-top: 20px">
    <div class="col-8">
      <h4 style="border-bottom: 1px dotted black">
        New Phase
      </h4>
      <div class="informatino-form">
        <form novalidate>
          <div class="row">
            <div class="form-group col-md-6">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" autocomplete='name'>
            </div>
  
            <div class="form-group col-md-6">
              <label>Year</label>
              <input type="text" class="form-control" [(ngModel)]="year" [ngModelOptions]="{standalone: true}" autocomplete='year'>
            </div>
           
          </div>
        </form>
        <div style="padding-top:20px">
          <button class="btn btn-primary" (click)="CreatePhase()">Create</button>
        </div>
      </div>
    </div>