<div class="detail-user row" style="padding-top: 20px">
  <div class="navigation-custom col-md-4">
    <app-navigation></app-navigation>
  </div>
  <div class="information-frame col-md-8">
    <h4 style="border-bottom: 1px dotted black">
      thông tin cá nhân
    </h4>
    <div class="informatino-form">
      <form novalidate (submit)="updateStudent()" >
        <fieldset>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" autocomplete='name'>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" autocomplete='email'>
          </div>
        </fieldset>

        <div class="form-group">
          <label>Skype ID</label>
          <input type="text" class="form-control" [(ngModel)]="skypeId" [ngModelOptions]="{standalone: true}" autocomplete='skypeId'>
        </div>

        <div class="form-group">
          <label>Facebook</label>
          <input type="text" class="form-control" [(ngModel)]="facebook" [ngModelOptions]="{standalone: true}" autocomplete='facebook'>
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" autocomplete='phoneNumber'> 
        </div>

        <div class="form-group">
          <label>Language Skill</label>
          <input type="text" class="form-control" [(ngModel)]="skillLanguage" [ngModelOptions]="{standalone: true}" autocomplete='skillLanguage'>
        </div>

      </form>
      <div style="padding-top:20px">
        <button class="btn btn-primary" type="submit" (click)="updateStudent()">Update</button>
      </div>
    </div>
  </div>
</div>