<div class="row home-custom">
    <div class="partner col-md-12" >
      <h3 style="border-bottom: 3px solid black; padding-top: 20px">
        Thông tin thực tập tại đối tác của Khoa
      </h3>
      <div class="card-company-custom row">
        <div class="card-detail-custom col-md-4" style="padding-top: 20px">
          <div class="card-title-custom">
              <h5 style="border-bottom: 1px dotted black">
                  <a routerLink="/user/viewpartner">
                    Công ty NTT Data Việt Nam
                  </a>
              </h5>
          </div>
          <div class="card-more">
            <a routerLink="/user/viewpartner">xem them</a>
            <div class="card-date">
              <div>Jun 8, 2018 3:16:29 PM</div>
            </div>
          </div>
        </div>

        <div class="card-detail-custom col-md-4" style="padding-top: 20px">
            <div class="card-title-custom">
                <h5 style="border-bottom: 1px dotted black">
                    Công ty NTT Data Việt Nam
                </h5>
            </div>
            <div class="card-more">
              <a href="">xem them</a>
              <div class="card-date">
                <div>Jun 8, 2018 3:16:29 PM</div>
              </div>
            </div>
          </div>
          <div class="card-detail-custom col-md-4" style="padding-top: 20px">
              <div class="card-title-custom">
                  <h5 style="border-bottom: 1px dotted black">
                      Công ty NTT Data Việt Nam
                  </h5>
              </div>
              <div class="card-more">
                <a href="">xem them</a>
                <div class="card-date">
                  <div>Jun 8, 2018 3:16:29 PM</div>
                </div>
              </div>
            </div>
            <div class="card-detail-custom col-md-4" style="padding-top: 20px">
              <div class="card-title-custom">
                  <h5 style="border-bottom: 1px dotted black">
                      Công ty NTT Data Việt Nam
                  </h5>
              </div>
              <div class="card-more">
                <a href="">xem them</a>
                <div class="card-date">
                  <div>Jun 8, 2018 3:16:29 PM</div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="register-in-uni col-md-12" >
      <h3 style="border-bottom: 3px solid black;padding-top: 20px">
        Đăng kí thực tập tại trường
      </h3>
      <div class="register-detail row" style="padding-bottom: 20px; padding-top: 20px ">
        <div class="register-information col-md-6">
          <h5 style="border-bottom: 1px dotted black">
            Thực tập NCKH tại Khoa CNTT
          </h5>
          <p>
            Các sinh viên làm nghiên cứu trong hè với thầy đăng ký tại đây
          </p>
        </div>
        <div class="register-select-lecturers col-md-6">
          <h5 style="border-bottom: 1px dotted black">
            Chọn giảng viên
          </h5>
          <div class="row">
            <div class="dropdown col-md-6">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Lecturers
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register-out-uni col-md-12" >
      <h3 style="border-bottom: 3px solid black;padding-top: 20px">
        Đăng kí công ty thực tập ở ngoài
      </h3>
      <div class="row">
        <div class="col-md-6" style="padding-bottom: 20px">
          <h4 style="border-bottom: 1px dotted black">
            Điền thông tin đơn vị bạn đang thực tập
          </h4>
          <form class="register-out-uni-form" style="padding-top: 20px">
            <label for="companyname" class="sr-only">companyname</label>
            <input type="text" id="companyname" class="form-control" placeholder="companyname" autofocus  [(ngModel)]="companyName" [ngModelOptions]="{standalone: true}" autocomplete='companyName'>
            <label for="companyaddress" class="sr-only">companyaddress</label>
            <input type="text" id="companyaddress" class="form-control" placeholder="companyaddress" required [(ngModel)]="companyAddress" [ngModelOptions]="{standalone: true}" autocomplete='companyAddress'>
            <label for="companyemail" class="sr-only">companyemail</label>
            <input type="text" id="companyemail" class="form-control" placeholder="companyemail" required [(ngModel)]="companyEmail" [ngModelOptions]="{standalone: true}" autocomplete='companyEmail'>
            <label for="companyphone" class="sr-only">companyphone</label>
            <input type="text" id="companyphone" class="form-control" placeholder="companyphone" required [(ngModel)]="companyPhone" [ngModelOptions]="{standalone: true}" autocomplete='companyPhone'>
          </form>
          <div style="padding-top:20px">
            <button class="btn btn-primary" (click)="RegisterCompany()">Đăng ký</button>
          </div>
        </div>
      </div>
    </div>
  </div>